* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font: normal sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;

}

#header__title {
    background-color: rgb(5, 5, 49);
    color: white;
    padding: 0.25rem;
    position: sticky;
    top: 0;
}

#header__section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 1rem;
}

#header__title:hover {
    cursor: pointer;
}

#menu-button {
    background-color: transparent;
    width: 48px;
    height: 48px;
    position: relative;
    border: none
}

#menu-button:hover {
    cursor: pointer;
}

#menu-icon,
#menu-icon::before,
#menu-icon::after {
    width: 40px;
    height: 3px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    transition: all 0.2s;
}

#menu-icon::before,
#menu-icon::after {
    content: "";
}

#menu-icon::before {
    transform: translate(-20px, -12px);
}

#menu-icon::after {
    transform: translate(-20px, 12px);
}

.change #menu-icon {
    background-color: transparent;
}

.change #menu-icon::before {
    transform: translateX(-20px) rotate(45deg);
}

.change #menu-icon::after {
    transform: translateX(-20px) rotate(-45deg);
}

.change #header__nav {
    display: block;
}

#header__nav {
    display: none;
}

nav ul {
    padding: 10px;
}

nav li {
    list-style-type: none;
    
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    text-align: center;
    font-size: medium;
    
}

nav a:any-link {
    color: white;
}

nav a:hover {
    opacity: 80%;
}

#container {
    display: block;
    font-size: 3rem;
}

h1 {
    margin-top: 0.3rem;
    font-size: 2rem;
}

@media (min-width: 640px) {
    #menu-button {
        display: none;
    }

    #header__title {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
    }

    #header__nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
   }

    #header__nav a {
        display: inline-block;
    }

    #header__nav a:hover {
        padding: 0.25rem;
        opacity: 80%;
       
    }

    h1 {
        font-size: 2.5rem;
    }

     p, nav a {
        font-size: 2rem;
    }
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5rem;
    gap: 0.15rem;
}

.box {
    background-color: rgb(238, 234, 234);
    width: 300px;
    height: 500px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 15px;
}

#home__page {
    width: 90%;
    background-color: white;
    text-align: center;
}

#home__page h1 {
    padding: 1.5rem;
    font-weight: bold;
}

#image {
    height: auto;
    width: 90%;
    margin-right: auto;
    margin-left: 3rem;
    border-radius: 5px;
}

#first__p {
    padding: 7rem 0 5rem 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

#footer {
    width: 100%;
    height: 30px;
    background-color: rgb(4, 4, 49);
    color: gray;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 5rem;
}

.icon {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}